* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato;
}



a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 35.625rem);
    padding-right: calc(50% - 35.625rem);
}

.header {
    background-color: #222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.header__search {
    margin-left: 41px;
}

.header__accoutn {
    margin-left: 34px;
    margin-right: 34px;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__box {
    display: block;
}

.nav {
    display: none;
}

#switcher {
    position: absolute;
    left: -99999999px;
    visibility: hidden;
}

#switcher:checked~.drop {
    opacity: 1;
    visibility: visible;
}

.drop {
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 37px 32px;
    position: absolute;
    top: 75px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    width: 234px;
    height: 768px;
    transition: opacity .4s;
    z-index: 1;
}

.drop__box {
    margin-top: 20px;
}

.drop__name {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

}

.drop__heading {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F26376;
}

.drop:hover {
    text-decoration: underline;
}

.drop__ul {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 12px;
}

.drop__link {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-bottom: 11px;
    display: block;
}

.drop:hover {
    color: #F26376;
}

/* Стили каталог */

@import '_catalog';


.promo__heading {


    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.625rem;

    color: #222222;
}

.promo {
    background: rgba(113, 103, 105, 0.08);
    padding-left: calc(50% - 50rem);
    padding-right: calc(50% - 50rem);
    display: flex;
}

.promo__left {
    width: 50%;
}

.promo__img {
    width: 100%;
}

.promo__right {
    width: 50%;
    background: #F1E4E6;
    display: flex;
    align-items: center;
    padding-left: 4rem;
}

.catalog {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.catalog__item {
    position: relative;
}

.catalog__item:not(:last-child) {
    margin-right: 1.875rem;
}

.catalog__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog__img {
    width: 100%;
}

.catalog-big {
    margin-top: 1.875rem;
}

.catalog-big {
    position: relative;

}

.catalog__big__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.catalog-big__img {
    width: 100%;
}

.catalog__text {
    color: white
}

.catalog__heading {
    color: red;

}


.pagination {
    color: black;
    text-align: center;


}

.product-browse {
    color: #F26376;
    text-align: center;
    padding-bottom: 1.875rem;


}

.product-box__browse {
    color: #F26376;
    border: 0.063rem solid #F26376;
    padding: 0.625rem;
    border-width: 40%;
    background-color: white;

}

.container {
    position: absolute;
    left: 44.4%;
    right: 44.23%;
}

.sale {
    background-color: #222224;


}

.sale__item {
    text-align: center;
    color: #F1E4E6;

}

.product-box {
    padding-top: 3rem;
}

.product-box__heading,
.product-box__text {
    text-align: center;
}

.product {
    width: 22.5rem;
    background: #F8F8F8;
    position: relative;
}

.product:hover .product__img {
    filter: brightness(50%);
}

.product:hover .product__add {
    display: flex;
}

.product_mb {
    margin-bottom: 1.875rem;
}

.product-content {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product__info {
    padding: 1.5rem 1rem 1.25rem;
}

.product__name {

    color: #000000;
}

.product__text {
    margin-top: 0.75rem;
    margin-bottom: 1.125rem;
    color: #5D5D5D;
}

.product__add {
    position: absolute;
    top: 11.75rem;
    left: 6.938rem;
    width: 8.688rem;
    height: 2.75rem;
    border: 0.063rem solid white;
    align-items: center;
    justify-content: center;
    display: none;
}

.product__add:hover {
    box-shadow: 0 0 0.313rem #fff;
}

.heading {
    background-color: #F8F3F4;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;


}

.heading__left {
    color: #F16D7F;
    width: 50%;


}

.heading__right {
    color: #636363;
    width: 50%;
    margin-left: auto;
    text-align: right;
}

.contacts__img {
    width: 100%;
}

.contacts {

    width: 100%;

}

.contact_us {

    background: url("img/context.jpg") no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    /* background-size: 100%;   */
    height: 36.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact__img {

    width: 9.188rem;
    border-radius: 6.25rem;

}

.contact__left {
    width: 33%;
    text-align: center;

}

.contact__right {
    width: 33%;
    margin-left: auto;
    text-align: center;


}

.subscribe {
    text-align: center;

}

.subscribe {
    display: inline-flex;
    width: auto;
    max-width: 100%;
}

.subscribe input,
.subscribe button {
    display: block;
    padding: 0.5rem 0.625rem;
    border: 0;
    background: transparent;
    font: inherit;
    box-sizing: border-box;
}

.subscribe input {
    border: 0.063rem solid #ccc;
    border-right: 0;
    border-radius: 0.375rem 0 0 0.375rem;
}

.subscribe button {
    border: 0.063rem solid #ccc;
    border-radius: 0 1.5rem 1.5rem 0;
    background: #F16D7F;
    color: #fff;
    text-transform: uppercase;
}

.footer {
    height: 6rem;
    background-color: #222224;
}

.footer__right {
    padding-top: 2rem;

    display: flex;
}


.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copy {
    padding-top: 2rem;

    color: #FBFBFB;
}

.footer__icon {
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    color: black;
    text-align: center;
    line-height: 2rem;
    margin-right: 0.313rem;

}


.footer__icon:hover {
    background-color: #F16D7F;
    color: #fff;
}

/*stile product*/

@import '_product';

/*style cart*/

@import '_cart';

/*style regist*/

@import '_regist';

/*adaptation*/

@import '_m375';

@import '_m768';
